/.idea
/.vscode
/venv
/.venv
/data/embeddings/glove.6B.300d.txt
/data/squad-v1/archive/dev-v1.1.json
/data/squad-v1/archive/train-v1.1.json
/en_core_web_sm_2.2.0
/gensim_4.3.2/gensim-4.3.2

/data/embeddings/word2vec-glove.6B.300d.txt
en_core_web_sm-2.2.0.tar.gz
gensim-4.3.1-cp311-cp311-win_amd64.whl
gensim-4.3.2.tar.gz

data\squad-v1\archive.zip

__pycache__

.ipynb_checkpoints